body,html{
    width:100%;
    height:100%;
    overflow: hidden;
}
body{
    background-image:url(Images/pexels-ovan-62693.jpg);
}

.title{
    padding-top:20px;
    font-size:25px;
    text-align: center;
    width:20%;
    margin:auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}
span{
    font-size:50px;
    opacity:0;
    transition: all 1s ease;
}
span.fade{
    opacity:1
}

::-webkit-scrollbar {
    display: none;
    
}


#big-div{
    position: absolute;
    display:flex;
    width:80%;
    height:70%;
    margin:auto;
    margin-top:3%;
    margin-left:10%;
    border:2px;
    z-index: 50;
}
.item{
    flex:50%;
    max-width:50%;
    max-height:100%;
}
.item:hover{
    cursor: pointer;
}
#left-div{
    background-color:wheat;
    margin-right:1%;
}
#right-div{
    
    background-color:white;
    margin-left:1%;
}
#stDiv{
    font-weight: bold;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:3em;
    position: relative;
}
#drDiv{
    font-weight: bold;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:3em;
    position: relative;
}
#leftYear{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:3em;
    position: relative;
}
#rightYear{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:3em;
    position: relative;

}
.result{
    z-index: 100;
    display:flex;
    position: absolute;
    width:80%;
    height:75%;
    margin:auto;
    margin-top:3%;
    border:2px;
    margin-left:10%;
}
#correct{
    display:none;
}

#leftCorrect{
    margin-right:1%;
    background-color:green;
    background-image:url(Images/tick.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
}
#rightCorrect{
    margin-left:1%;
    background-color: green;
    background-image:url(Images/tick.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
}

#incorrect{
    display: none;
}
#leftIncorrect{
    margin-right:1%;
    background-color:red;
    background-image:url(Images/X.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
}
#rightIncorrect{
    margin-left:1%;
    background-color:red;
    background-image:url(Images/X.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
}

#gameSummaryDiv{
    display:none;
}
#scoreInfo{
    margin-right:1%;
    background-color: lightblue;
    cursor: default;
    font-size:35em;
    text-align: center;
    text-shadow: 1em;
}
#scoreSave{
    margin-left:1%;
    background-color: lightblue;
    cursor: default;
}
#username{
    width: 50%;
    height:5%;
}
#saveLeaderboard{
    text-align: center;
    width: 20%;
    margin-left:40%;
}
#scoreShow{
    position: absolute;
    width:10%;
    height:5%;
    right:10%;
    top:5%;
    font-size: 2em;
    text-align: center;
}

/* leaderboard.html */
#scoresDiv{
    width: 50%;
    margin:auto;
    font-size:3em;
    text-align: center;
}
#titleLeaderboard{
    position: relative;
    font-size:5em;
    text-align: center;
}

@media all and (max-width:700px){
    #scoreInfo{
        font-size:20em;
    }
    #saveLeaderboard{
        width: 45%;
    }
    #stDiv{
        font-size:2em;
        font-weight:bold;
    }
    #drDiv{
        font-size:2em;
        font-weight: bold;
    }
}
